body {
  background: #ffede8;
  color: #5c5553;
  /*text-transform: uppercase;*/
}

.header {
  padding: 5px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  /*background-color: #222;*/
}

.header h1 {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 3px;
  font-weight: normal;
}
